textarea {
    resize: none;
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: transparent;
}

textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #718096;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5a67d8;
}

::-webkit-scrollbar-track {
    background-color: #1a202c;
    border-radius: 4px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    animation: dot 1.4s infinite;
    animation-delay: 0.3s;
}

.dot:nth-child(2) {
    animation-delay: 0.6s;
}

.dot:nth-child(3) {
    animation-delay: 0.9s;
}

@keyframes dot {
    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}
